* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body {
    background-color: white;
    overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700 ;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.group{
  display: flex;
  align-items: center;
}
header ul{
  position: relative;
  display: flex;
  gap: 30px;
}
header ul li{
  list-style: none;
}
header ul li a{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
header ul li a::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
header .search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;
}
.searchbox{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchbox.active{
  right: 0;
}
.searchbox input{
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: black;
  font-palette: 1.25em;
  background: white;
  border-bottom: 1px solid;
}
.searchbtn{
  position: relative;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
  background-color: white;
}
.searchbtn.active{
  left: 0;
}
.closebtn{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.closebtn.active{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}

.container-slider {
  display: flex;
  width: 100%;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}
.card-content{
  text-align: center;
}
.exibir-casa{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}
.exibir{
  width: 325px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}
.exibir:hover{
  transform: translateY(-20px);
}
.exibir img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.exibir-p{
  padding: 20px;
}
.exibir-p h1{
  font-size: 20px;
  margin-bottom: 10px;
}
.exibir-p p{
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
}
.exibir-btn{
  display: inline-block;
  background-color: gray;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 16px;
}

h1{
  text-align: center;
  position: relative;
}
p{
  text-align: center;
  position: relative;
}
table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  position: relative;
  justify-content: center;
}

td, th {
  padding: 8px;
  text-align: center;
}
.localização iframe{
  width: 600px;
  height: 400px;
  margin: 0 auto;
  display: flex;
}

.rodape{
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: helvetica;
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 5px;
}
.rodape-div{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: white;
}
.rodape-direitos{
  width: calc(100% - 20px);
  background-color: black;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}
.localização {
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
}

.localização iframe {
  width: 100%;
  height: 100%;

}
